.bannerDiv{
    margin-top: 60px;
}
.bannerTxt{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 124px;
    color: #181F1B;
    text-align: start;
}
.bannerTxt span{
    font-weight: 800;
}
.bannerPrimary{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    font-size: 24px;
    line-height: 158%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #181F1B;
    opacity: 0.7;
    margin-top: 20px;
}
.imgBanner{
    width: 100%;
    height: 100%;
}
.bannerbtn1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 238px;
    height: 52px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    background-color: transparent;
}
.bannerbtn2{
    width: 238px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-style: normal;
    height: 52px;
    background: #58BF73;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-left: 20px;
    border: none;
}
.btndiv{
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 35px;
}

/* section 2  */

.salesHeading{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 127%;
    text-align: center;
    color: #181F1B;
    margin-top: 90px;
    margin-bottom: 25px;
}
.tableHead tr{
    border-radius: 10px !important;

}
.tableHead th{
    border-style : hidden!important;
    background-color: #E3E3E3;
    margin-bottom: 20px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.tableBody td{
    background-color: #B4ECD2;
    border-radius: 6px;
    padding: 12px;
    border: 2.2px solid white;
    font-family: 'Roboto', sans-serif;
    color: #000000;

}

.tableBody td .bigAmount{
    background-color: #64B992 !important;
}

/* services  */

.parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.div2 { 
    grid-area: 2 / 1 / 3 / 2;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div3 { 
    grid-area: 3 / 1 / 4 / 2;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div4 { 
    grid-area: 2 / 2 / 3 / 3;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
}
.div5 { 
    grid-area: 3 / 2 / 4 / 3;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
}
.div6 { 
    grid-area: 4 / 2 / 5 / 3;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
}
.div7 { 
    grid-area: 1 / 3 / 2 / 4;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div8 { 
    grid-area: 2 / 3 / 3 / 4;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div9 { 
    grid-area: 3 / 3 / 4 / 4;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.serviceDiv{
    margin-top: 100px;
    bottom: 50px;
}
.serviceTitle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 127%;
    color: #181F1B;
}
.serviceTitle span{
    font-weight: 800;

}
.serviceTextDiv{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.serviceText{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #181F1B;
    opacity: 0.7;
}
.serviceBtn{
    border: none;
    font-family: 'Roboto', sans-serif;
    width: 175px;
    height: 52px;    
    background: #58BF73;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

/* Category */
.Category1{
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px; 
    text-align: start;
    padding: 40px;
    width: 348px;
    height: 323.11px;
}

.Category2{
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px; 
    text-align: start;
    padding: 40px;
    width: 348px;
    height: 323.11px;
}
.Category3{
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px; 
    text-align: start;
    padding: 40px;
    width: 348px;
    height: 323.11px;
}
.categoryImg{
    width: 50px;
}
.cardTitle{
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: #000000;
}

.categoryDiv{
    margin-top: 50px;
    bottom: 50px;
}

/* Apply */
.applyDiv{
    margin-top: 100px;
    margin-bottom: 70px;
}
.applyTextDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.applyBtnDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.applyTitle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 127%;
    color: #181F1B;
}
.applyText{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 158%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #181F1B;
    opacity: 0.7;
}

/* tablesection  */

.tableSectionDiv{
    margin-top: 90px;
}

.tableHeadWeek th{
    border-style : hidden!important;
    background-color: #BBE5C9;
    margin-bottom: 20px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    padding: 12px;

}

.tableBodyWeek td{
    border: 2.2px solid white;
    font-family: 'Roboto', sans-serif;
    color: #000000;

}

.tableBodyWeek .td1{
    background-color: #E3E3E3;
        padding: 12px;

    border-radius: 6px;
}
.tableBodyWeek .td2{
    background-color: #B4ECD2;
        padding: 12px;

    border-radius: 6px;
}
.tableBodyWeek .td3{
    background-color: #93D1B5;
        padding: 12px;

    border-radius: 6px;
}
.tableBodyWeek .td4{
    background-color: #64B992;
        padding: 12px;

    border-radius: 6px;
}

.parentSecond {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    width: 200px;
}
    
.div1Second { 
    grid-area: 2 / 1 / 3 / 2; 
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}
.div2Second { 
    grid-area: 1 / 2 / 2 / 3; 
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div3Second { 
    grid-area: 2 / 2 / 3 / 3; 
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textCommon{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0.02em;
    color: #181F1B;
    opacity: 0.7;
}


/* first last  */

.lastDivPart2{
    display: flex;
    align-items: center;
    justify-content: start;
}

.firstDiv1{
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.RoundDiv1{
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
}
.lastDiv1{
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 10px;
}
.firstlastImg{
    width: 100px;
}

.firstlastBtn{
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 10px;
    border: none;
    width: 110px;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
}
.firstLastMain{
    margin-top: 90px;
}
.applyDivfirstlast{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.totaldataInfo{
    margin-top: 70px;
}
.totaldataInfo .facebook{
    margin-top: 100px;
}
.revenueText{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 156.19%;
    color: #181F1B;
    opacity: 0.7;
}
.totaldataInfo .totalamount{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    line-height: 103.19%;
}
.fistReports{
    background-color: #F6D45B !important;
}
.LastReports{
    background-color: #64B992 !important;
}

.contactDiv1{
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 17px rgba(193, 208, 195, 0.26), -9px -9px 16px rgba(238, 238, 238, 0.6);
    border-radius: 20px;
    width: 510px;
    text-align: start;
    vertical-align: middle;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.contactDiv1 p{
    vertical-align: middle;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #161D25;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;

}
.contactMain{
    margin-top: 90px;
}
.btnContactDiv{
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 30px;
}

.contactText{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 158%;
    letter-spacing: 0.02em;
    color: #181F1B;
    opacity: 0.7;
}
.contactTitle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 127%;
    color: #181F1B;
}

.imgDivContact{
    margin-top: 70px;
}

.imgDivContact img{
    width: 100%;
}
.graphDiv{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}