.navitem{
    box-shadow: 0px 1px 3px rgba(27, 83, 49, 0.2404);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;

}
.navmenu{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    color: #181F1B;
    margin-left: 40px;
}
.navmenu1 .nav-link{
    color: #1F8E3D !important;
}

.getStartedBtn{
    width: 163px;
    height: 52px;
    top: 20px;
    background: #58BF73;
    border-radius: 10px;
    border: none;
    color: white;
}
.LoginBtn{
    width: 112px;
    height: 52px;
    border: 1px solid #181F1B;
    border-radius: 10px;
    background-color: transparent;
    color: #181F1B;
}
.navItems{
    margin-left: 30px;
    color: #181F1B;
}
@media only screen and (max-width: 600px) {
    .navmenu{
        margin-left: 0px;
    }
  }