.App {
  text-align: center;
  background-color: rgb(14, 7, 42);
  min-height: 100vh;
}
.inputData{
  width: 50%;
}
.ActionDiv{
  width: 100px;
  overflow: hidden;
  margin: auto;
}
@media only screen and (max-width:700px) {

  .inputData{
    width: 100%;
  }
  .importBtn{
    margin-top: 15px;
  }
  
}

